table, td, th, tr  {
    border-style: solid;
    border-width: thin;
}

.quadro-ementa {
    border-style: solid;    
    border-width: thin;
}

table {
    width: 100%;
}

.negrito {
    font-weight: bold;
}

.cabecalho {
    font-size: larger;
}

.centralizado { 
    float: none !important; 
    margin:0 auto !important; 
}